// Font and link colors
$color-white: #fff;
$color-nav-white: #eee;
$color-research: #8be3ff; /* blue */
$color-harvest: #a883e8; /* purple */
$color-bag: #ff9651; /* orange */
$color-describe: rgb(25,152,85); /* some sort of green */
$color-done: #35e875; /* green */
$color-error: #ff5b4b; /* red */

// Background colors
$color-app-bg: rgb(240,240,240);
$color-nav-bg: #333;
